      body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        color: #000000;
        background-color: #FFFFFF;
      }
      .pgHeader {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100px;
        border-bottom: 1px solid #000000;
        background-color: #FEFEFE;
      }
      .pgFooter {
        margin: calc(100% - 100px) 0px 0px 0px;    /* top right bottom left */
        padding: 5px 5px 5px 5px;       /* top right bottom left */
        width: 100%;
        color: #FFFFFF;
        background-color: #000000;
        font-size: 12px;
        height: 50px;
      }
      .pgContent {
        margin-top: 100px;
      }
      
      nav {
        left: 0px;
        top: 0px;
      }
      nav ul {
        content: "";
        display: table;
        clear: both;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      
      nav li {
        float: left;
        text-align: center;
      }
      nav a {
        display: block;
        text-decoration: none;
        color: #000000;
        background-color: #FF8000;
        padding: 10px 20px;
        height: 20px;
        border-right: solid #FFFFFF;
      }
      nav a:hover {
        color: #FFFFFF;
      }
      